# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files
*.log
*.tmp

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build files
build/
ios/build/
android/build/
android/app/build/

# Cache
.cache/
.expo-shared/

# Expo
expo-env.d.ts

# Metro
.metro-health-check*

# debug
yarn-debug.*
yarn-error.*

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# IDE
.idea/
.vscode/
*.swp
*.swo
